.body-customer {
  width:100%;
  height: fit-content;
  margin: 0px auto;
  background-color: whitesmoke;
}
.body-admin {
  width: fit-content;
  height: fit-content;
  margin: 0px auto;
}
div.inline {
  display: inline-block;
}
figure.caption-right {
  display: flex;
  align-items: center;
}
.align-center {
  width: fit-content;
  margin: 0px auto;
}
.align-valign-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
}
.text-center {
  text-align: center;
}
span.link {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
/*slideshow*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* menu.css */

div.border-bottom {
  height: 130px;
  border-bottom: 1px solid white;
  padding: 10px;
  background-color: white;
}
div.float-left {
  float: left;
  display: flex;
}

.menu-logo{
  padding-left: 5px;
}
.float-right {
  display: inline-block;
  padding-left: 40px;
  padding-top: 40px;
}
.search #search-bar{
    width: 260px;
    height: 30px;
    padding: 10px;
    border:1px solid black 1;
    border-radius: 20px; /* Bo tròn cạnh của input */
    outline: none; /* Loại bỏ đường viền khi focus */
    color: #333; /* Màu chữ đen */
}
.search #button-search{
  width: 80px;
  height: 30px;
  border-radius: 10px;
  margin: 5px;
}
.search #button-search:hover{
   background-color:#ffeeaa
}
.others{
  display: inline-block;
  float: right;
  padding-top: 40px;
}
.others a{
  color: #000; /* Màu chữ đen */
  text-decoration: none;
  padding: 10px 10px; /* Khoảng cách giữa các mục */
  font-family: 'Roboto', sans-serif; /* Chọn font chữ đẹp */
  transition: all 0.3s ease; /* Hiệu ứng hover mềm mại */
}
.others a:hover{
  color: #ff4d4d;
}
.others span{
  font-weight:bold;
 padding-top: 40px;
}
.others ul{
  list-style-type: none;
  text-align: center;
}
.others ul li a{
    text-decoration: none;
    display: block;
}
.others ul li >.sub-menu{
  display: none;
  position: absolute;
}
.others li{
  position: relative;
}
.sub-menu{
  display: none;
  position: absolute;
}
.others ul li:hover .sub-menu{
  display: block;
}

div.float-clear {
  clear: both;
}
ul.menu {
  margin: 0px;
  padding-top:50px;
}
li.menu {
  display: inline;
  margin-right: 5px;
  text-transform: uppercase;
}
.menu li a {
  color: #000; /* Màu chữ đen */
  text-decoration: none;
  padding: 10px 20px; /* Khoảng cách giữa các mục */
  font-family: 'Roboto', sans-serif; /* Chọn font chữ đẹp */
  transition: all 0.3s ease; /* Hiệu ứng hover mềm mại */
}
.menu li a:hover {
  color: #ff4d4d; /* Màu chữ đỏ khi hover */
  background-color: rgba(255, 255, 255, 0.2); /* Màu nền nhẹ khi hover */
}
.menu li a.active {
  color: #ff4d4d; /* Màu chữ đỏ khi mục được chọn */
}
form.search {
  margin: 0px;
}
input.keyword {
  width: 150px;
}
/*Footer*/
.footer{
  background-color:whitesmoke;
  padding: 10px;
  text-align: center;
  
}
.footer-item img{
    padding-left: 5px;
}
/* datatable.css */
.datatable {
  text-align: center;
  border-collapse: collapse;
}
/* header */
tr:first-child.datatable {
  background-color: #ffcc00;
}
/* even rows, except header */
tr:not(:first-child):nth-child(even).datatable {
  background-color: #f5f5f5;
}
/* odd rows, except header */
tr:not(:first-child):nth-child(odd).datatable {
  background-color: #ffeeaa;
}
/* except header */
tr:not(:first-child):hover.datatable {
  background-color: #dcfcfc;
  cursor: pointer;
}
td{
  width: 150px;
  height:50px;
}
.btn-small{
  width: 200px;
}
